.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    color: white;
  }
  .nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 50px;
}  

  .logout-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .logout-button:hover {
    background-color: #45a049;
  }
  